<!-- @TODO: I can make this dynamic -->

<template name="Ticketer">
  <ul>
    <li>
      Type A - Slow Moving Transactions
      <ul>
        <li>
          Benefit Claim Application
          <ul>
            <li>
              <button>Death Claim</button>
            </li>
            <li>
              <button>Disability Claim</button>
            </li>
            <li>
              <button>Retirement Claim</button>
            </li>
            <li>
              <button>Funeral Claim</button>
            </li>
            <li>
              <button>Maternity Claim</button>
            </li>
            <li>
              <button>Sickness Claim</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      Type B - Fast Moving Transactions
      <ul>
        <li>
          Registration
          <ul>
            <li>
              <button>Issuance of SSS number</button>
            </li>
            <li>
              <button>Registration of Employer</button>
            </li>
            <li>
              <button>Issuance of Employer Certificate of Compliance</button>
            </li>
            <li>
              <button>Application of UMID</button>
            </li>
            <li>
              <button>Employers's Enrollment in SicMat Payment thru the Bank</button>
            </li>
            <li>
              <button>Peso Enrollment</button>
            </li>
            <li>
              <button>SSS Web Registration</button>
            </li>
          </ul>
        </li>
        <li>
          Data Amendment
          <ul>
            <li>
              <button>Member Data Amendment</button>
            </li>
            <li>
              <button>Employer Data Amendment</button>
            </li>
          </ul>
        </li>
        <li>
          Loan Application
          <ul>
            <li>
              <button>Salary Loan</button>
            </li>
            <li>
              <button>Calamity Loan</button>
            </li>
            <li>
              <button>Educational Assistance Loan Program (EALP)</button>
            </li>
          </ul>
        </li>
        <li>
          Notification/Compliance
          <ul>
            <li>
              <button>Annual Confirmation of Pensioners (ACOP)</button>
            </li>
            <li>
              <button>Maternity Notification</button>
            </li>
            <li>
              <button>Sickness Notification</button>
            </li>
          </ul>
        </li>
        <li>
          Adjustment of Contribution
          <ul>
            <li>
              <button>Adjustment of Contribution</button>
            </li>
          </ul>
        </li>
        <li>
          Adjustment of Credited Years of Service
          <ul>
            <li>
              <button>Adjustment of Credited Years of Service</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      Type C - Payments
      <ul>
        <li>
          Tellering
          <ul>
            <li>
              <button>Contribution Payments</button>
            </li>
            <li>
              <button>Loan Payments</button>
            </li>
            <li>
              <button>Miscellaneous Payments</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      Type D - Corporate Transactions
      <ul>
        <li>
          Submission of Reports
          <ul>
            <li>
              <button>Contribution Collection List (Manual Submission)</button>
            </li>
            <li>
              <button>Contribution Collection List (USB Electronic Submission)</button>
            </li>
            <li>
              <button>Loan Repayment Collection List (Manual Submission)</button>
            </li>
            <li>
              <button>Loan Repayment Collection List (USB Electronic Submission)</button>
            </li>
            <li>
              <button>Employer's Report (R1A)</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      Type E - Public Assitance and Complaints
      <ul>
        <li>
          Public Assitance and Complaints
          <ul>
            <li>
              <button>Public Assistance</button>
            </li>
            <li>
              <button>Complaints</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</template>
