<!-- @TODO: I can make this dynamic -->

<template name="Ticketer">
  <ul>
    <li data-category="Type A">
      Type A - Slow Moving Transactions
      <ul>
        <li data-type="Benefit Claim Application">
          Benefit Claim Application
          <ul>
            <li>
              <button data-name="Death Claim">Death Claim</button>
            </li>
            <li>
              <button data-name="Disability Claim">Disability Claim</button>
            </li>
            <li>
              <button data-name="Retirement Claim">Retirement Claim</button>
            </li>
            <li>
              <button data-name="Funeral Claim">Funeral Claim</button>
            </li>
            <li>
              <button data-name="Maternity Claim">Maternity Claim</button>
            </li>
            <li>
              <button data-name="Sickness Claim">Sickness Claim</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li data-category="Type B">
      Type B - Fast Moving Transactions
      <ul>
        <li data-type="Registration">
          Registration
          <ul>
            <li>
              <button data-name="Issuance of SSS number">Issuance of SSS number</button>
            </li>
            <li>
              <button data-name="Registration of Employer">Registration of Employer</button>
            </li>
            <li>
              <button data-name="Issuance of Employer Certificate of Compliance">Issuance of Employer Certificate of Compliance</button>
            </li>
            <li>
              <button data-name="Application of UMID">Application of UMID</button>
            </li>
            <li>
              <button data-name="Employers's Enrollment in SicMat Payment thru the Bank">Employers's Enrollment in SicMat Payment thru the Bank</button>
            </li>
            <li>
              <button data-name="Peso Enrollment">Peso Enrollment</button>
            </li>
            <li>
              <button data-name="SSS Web Registration">SSS Web Registration</button>
            </li>
          </ul>
        </li>
        <li data-type="Data Amendment">
          Data Amendment
          <ul>
            <li>
              <button data-name="Member Data Amendment">Member Data Amendment</button>
            </li>
            <li>
              <button data-name="Employer Data Amendment">Employer Data Amendment</button>
            </li>
          </ul>
        </li>
        <li data-type="Loan Application">
          Loan Application
          <ul>
            <li>
              <button data-name="Salary Loan">Salary Loan</button>
            </li>
            <li>
              <button data-name="Calamity Loan">Calamity Loan</button>
            </li>
            <li>
              <button data-name="Educational Assistance Loan Program (EALP)">Educational Assistance Loan Program (EALP)</button>
            </li>
          </ul>
        </li>
        <li data-type="Notification/Compliance">
          Notification/Compliance
          <ul>
            <li>
              <button data-name="Annual Confirmation of Pensioners (ACOP)">Annual Confirmation of Pensioners (ACOP)</button>
            </li>
            <li>
              <button data-name="Maternity Notification">Maternity Notification</button>
            </li>
            <li>
              <button data-name="Sickness Notification">Sickness Notification</button>
            </li>
          </ul>
        </li>
        <li data-type="Adjustment of Contribution">
          Adjustment of Contribution
          <ul>
            <li>
              <button data-name="Adjustment of Contribution">Adjustment of Contribution</button>
            </li>
          </ul>
        </li>
        <li data-type="Adjustment of Credited Years of Service">
          Adjustment of Credited Years of Service
          <ul>
            <li>
              <button data-name="Adjustment of Credited Years of Service">Adjustment of Credited Years of Service</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li data-category="Type C">
      Type C - Payments
      <ul>
        <li data-type="Tellering">
          Tellering
          <ul>
            <li>
              <button data-name="Contribution Payments">Contribution Payments</button>
            </li>
            <li>
              <button data-name="Loan Payments">Loan Payments</button>
            </li>
            <li>
              <button data-name="Miscellaneous Payments">Miscellaneous Payments</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li data-category="Type D">
      Type D - Corporate Transactions
      <ul>
        <li data-type="Submission of Reports">
          Submission of Reports
          <ul>
            <li>
              <button data-name="Contribution Collection List (Manual Submission)">Contribution Collection List (Manual Submission)</button>
            </li>
            <li>
              <button data-name="Contribution Collection List (USB Electronic Submission)">Contribution Collection List (USB Electronic Submission)</button>
            </li>
            <li>
              <button data-name="Loan Repayment Collection List (Manual Submission)">Loan Repayment Collection List (Manual Submission)</button>
            </li>
            <li>
              <button data-name="Loan Repayment Collection List (USB Electronic Submission)">Loan Repayment Collection List (USB Electronic Submission)</button>
            </li>
            <li>
              <button data-name="Employer's Report (R1A)">Employer's Report (R1A)</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li data-category="Type E">
      Type E - Public Assistance and Complaints
      <ul>
        <li data-type="Public Assistance and Complaints">
          Public Assistance and Complaints
          <ul>
            <li>
              <button data-name="Public Assistance">Public Assistance</button>
            </li>
            <li>
              <button data-name="Complaints">Complaints</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</template>
