/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

#main-container {
  width: 600px;
  min-height: 400px;
}

.full {
  height: 100%;
  width: 100%;
}

#login-form {
  width: 100%;
}
